/*tab2*/
.tie,.newTie,.newTie-end{
	padding: 16px;
	background-color: #FFFFFF;
	margin-bottom: 8px;
}
/*tab2上*/
.lt-top,.newTop{
	width: 100%;
	height: auto;
}
/*图片们*/
.lt-imgs{
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	overflow-x: scroll; /*添加横向滚动条*/
	overflow-y: hidden;
	white-space: nowrap;
}
.lt-imgs img{
	height: 64px;
	margin-right: 8px;
	margin-top: 16px;
}
/*tab2图片*/
.lt-img-box img{
	height: 64px;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
/*打开按钮*/
#openIcon{
	width: 16px;
	height: 16px;
}
/*tab2中间部分*/
.lt-center{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}

#newB{
	font-size: 16px;
	color: #707070;
	font-weight: 600;
}
#newP{
	font-size: 10px;
	color: #707070;
	font-weight: 100;
}

.lt-text{
	font-size: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/*搜索创建帖子*/
.bar2{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	display: none;
}
.bar2 img{
	width: 20px;
	height: 20px;
	margin-left: 8px;
}
.bar2 span{
	position: absolute;
	height: 20px;
	right: 16px;
	bottom: 0;
}

.sendTie-top{
	display: flex;
	flex-direction: row;
	overflow-x: scroll; /*添加横向滚动条*/
	overflow-y: hidden;
	white-space: nowrap;
	margin-top: 8px;
}
.sendTie-top::-webkit-scrollbar{
	height: 1px;
}
.sendTie{
	display: flex;
	flex-direction: column;
	position: fixed;
	left: 16px;
	right: 16px;
	bottom: 16px;
	padding: 16px;
	background-color: #FFFFFF;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	z-index: 2;
	display: none;
}
.sendTie-file{
	width: 64px;
	height: 64px;
	margin-right: 8px;
	background: url(../img/fatie.png) no-repeat;
	background-position: center;
}
input[type="file"]{
	width: 64px;
	height: 64px;
	opacity: 0;
}
.sendTie-center{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 15px;
	color: #707070;
}
.sendTie-center select{
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #FFFFFF;
}
.sendTie-bottom{
	width: 100%;
	height: auto;
	height: 32px;
	border: none;
	background-color: #F9F9F9;
	resize: none;
	outline: none;
	padding: 8px;
	font-size: 14px;
	margin-top: 8px;
}
.sendTie-button{
	color: #5A9E5C;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 15px;
	margin-top: 8px;
	cursor: pointer;
}
.newImgBox,.linshi{
	height: 64px;
	width: auto;
	margin-right: 8px;
	position: relative;
}
.newImg{
	height: 64px;
}
.newDelete{
	width: 16px;
	height: 16px;
	color: #FFFFFF;
	line-height: 16px;
	text-align: center;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.7);
	background-image: url(../img/delete.png);
	background-size: 16px 16px;
	margin-top: -64px;
	margin-left: 4px;
	position: relative;
}
.tieButton{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 8px;
}
.iconBox{
	width: 30%;
	margin-top: 8px;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
.bkBox{
	width: 100%;
	height: auto;
	background-color: #F9F9F9;
	font-size: 13px;
	color: #707070;
	margin-top: 16px;
	padding: 4px;
}

.iconBox img,.tieIconBox img{
	width: 28px;
	height: 28px;
}

.xueLiang{
	display: flex;
	flex-direction: row;
	width: 100%;
	line-height: 18px;
	font-size: 10px;
	color: #707070;
	font-weight: 100;
}
.huiFuVal{
	margin-left: 8px;
}