* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #F9F9F9;
}

.head {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	z-index: 5;
}


.bar1 {
	position: absolute;
	left: 0;
	right: 0;
	top: 16px;
	padding: 16px;
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
}

.bar1Top {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
.bar1Bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 16px;
}

.webList {
	width: 33%;
	height: 32px;
	padding-left: 8px;
	outline: none;
	border: 0;
	border-radius: 16px 0 0 16px;
	font-size: 13px;
	color: #707070;
	background-color: #EEEEEE;
}
/*弹幕数量*/
#dmNum {
	width: 33%;
	height: 32px;
	background-color: #EEEEEE;
	border-radius: 0 16px 16px 0;
	color: #707070;
	padding-left: 8px;
	line-height: 32px;
	font-size: 13px;
}
#olNum{
	width: 33%;
	height: 32px;
	background-color: #EEEEEE;
	color: #707070;
	line-height: 32px;
	padding-left: 8px;
	font-size: 13px;
}
h1 {
	font-size: 1.5rem;
	line-height: 24px;
}



/*弹幕显示区*/
ul {
	position: absolute;
	top: 64px;
	right: 0;
	left: 0;
	padding: 16px;
	bottom: 128px;
	list-style: none;
	overflow: auto;
	word-break: break-all;
}


#tab1 {
	top: 104px;
	padding-top: 0;
}

ul::-webkit-scrollbar {
	width: 2px;
}

ul::-webkit-scrollbar-thumb {
	background-color: #F6F6F6;
}


#tips {
	padding: 8px;
	background: #000;
	color: #ffffff;
	text-align: center;
	top: 200px;
	right: 20%;
	left: 20%;
	position: fixed;
	box-shadow: 0 3px 6px #D5D5D5;
	display: none;
	z-index: 99;
}

.input {
	position: fixed;
	bottom: 16px;
	left: 16px;
	right: 16px;
	background-color: #FFFFFF;
}

/*输入和发送按钮盒子*/
.input-top {
	display: flex;
	flex-direction: row;
	position: fixed;
	bottom: 72px;
	left: 16px;
	right: 16px;
	height: 56px;
	z-index: 3;
}

/*弹幕输入框*/
#text {
	width: 50%;
	height: 100%;
	border: none;
	border-radius: 0;
	resize: none;
	outline: none;
	font-size: 14px;
	text-align: center;
	line-height: 56px;
	color: #707070;
}

/*发送按钮*/
#button {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #EEEEEE;
}

#emoji,
#img,
#send {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#emoji:hover,
#img:hover,
#send:hover {
	background-color: #E5E5E5;
}

#emoji img,
#img img,
#send img {
	width: 28px;
	height: 28px;
}


/*弹幕设置和折叠按钮的盒子*/
.input-center {
	height: 56px;
	width: 100%;
	display: flex;
	flex-direction: row;
}

/*底部四个按钮*/
.dock,
#home,
#oneself {
	height: 100%;
	width: 25%;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

#home img,
.dock img {
	width: 28px;
	height: 28px;
}

#oneself img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
}

/*发出弹幕的盒子*/
.dmLi {
	display: flex;
	flex-direction: row;
	margin-top: 16px;
}

/*弹幕盒子左*/
.dmLeft {
	width: auto;
}

.dmRight1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.dmRight1 img {
	width: 20px;
	height: 20px;
}

/*弹幕盒子右*/
.dmRight {
	width: 100%;
	margin-left: 8px;
}

/*弹幕时间和id*/
.dmTime,
.dmId {
	color: #707070;
	font-size: 12px;
}

/*弹幕内容*/
.dmText {
	margin-top: 4px;
	font-size: 14px;
}

/*原有弹幕的头像样式*/
.dmImg {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

/*发送按钮下面的盒子*/
.fold {
	width: 100%;
	position: relative;
	display: none;
}

/*个人信息盒子*/
.personal-information {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 16px;
	padding-bottom: 0;
}

/*头像*/
#tx img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

/*昵称和邮箱的盒子*/
#name {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 8px;
}

#tishi {
	font-size: 16px;
	color: #000;
	margin-left: 8px;
}

#suihe {
	font-size: 13px;
	color: #707070;
	margin-left: 16px;
	margin-top: 16px;
}

#suihe span {
	color: #000000;
}

/*昵称*/
#id {
	font-size: 18px;
}

/*邮箱*/
#mail {
	font-size: 13px;
	color: #707070;
}

/*三个数据的盒子*/
#data {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 16px;
	padding-bottom: 0;
}

#data1,
#data2,
#data3 {
	flex-grow: 1;
	height: auto;
	line-height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

#data3 img,
#data2 img,
#data1 img {
	width: 24px;
	height: 24px;
}

#num1,
#num2,
#num3 {
	margin-left: 6px;
	font-size: 12px;
	font-weight: 400;
}



/*账号设置登出的盒子*/
#tabs {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
}

/*账号设置*/
#idSet {
	color: #5BB582;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
}

#idSet:hover {
	text-decoration: underline;
}

/*退出登录*/
#exit {
	color: #707070;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
}

#set:hover {
	text-decoration: underline;
}
